{% extends '::base.html.twig' %}
{% block titrePage %}<i class="icon-home"></i> Accueil{% endblock %}

{% block title %}{{ action }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gestimehome/css/home.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ asset('bundles/gestimecore/css/ionicons.min.css') }}">
{% endblock %}

{% block includesjs %}
    {{ parent() }}
  <script src="https://maps.googleapis.com/maps/api/js"></script>
    {% include 'GestimeHomeBundle:dashboard:templates/gmap.html.twig'  %}
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-12">
        {% include 'GestimeHomeBundle:dashboard:portlets/infoSecretariat.html.twig'  %}
    </div>
  </div>

  <div class="row">
  <div class="col-md-6">
      {% include 'GestimeHomeBundle:dashboard:portlets/today.html.twig'  %}
      {% include 'GestimeHomeBundle:dashboard:portlets/prochainRdv.html.twig'  %}
  </div>
  <div class="col-md-6">
      {% include 'GestimeHomeBundle:dashboard:portlets/gmap.html.twig'  %}
  </div>

{% endblock %}