
<div id="modal-password" class="modal fade" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="changePassword"{{ form_enctype(passwordForm) }} class="form-horizontal fill-up separate-sections">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h6 id="modal-formLabel">Initialisation du mot de passe</h6>
        </div>
        <div class="modal-body">
          <div class="form-group">
            {{ form_label(passwordForm.username, 'Identifiant: ', {'label_attr': {'class': 'control-label col-lg-3'}}) }}
            <div class="col-lg-5">
              {{ form_widget(passwordForm.username, { 'attr': { 'placeholder': "Identifiant de connexion" } }) }}
              {{ form_errors(passwordForm.username) }}
            </div>
          </div>
          <div class="form-group">
            {{ form_label(passwordForm.password, 'Mot de passe: ', {'label_attr': {'class': 'control-label col-lg-3'}}) }}
            <div class="col-lg-7">
                {{ form_widget(passwordForm.password, { 'attr': { 'placeholder': "Mot de passe" } }) }}
                {{ form_errors(passwordForm.password) }}
            </div>
            <div id="messages" class="col-lg-4">
            </div>
          </div>
          <div id="statut"></div>
          {{ form_widget(passwordForm.userid) }}
        </div>
        <div class="modal-footer">
          <button class="btn btn-default" data-dismiss="modal">Quitter</button>
          <button type="submit" class="btn btn-blue">Modifier le mot de passe</button>
        </div>
      </form>
    </div>
  </div>
</div>
