<div class="box">
  <div class="box-header">
    <span class="title">Boite de réception</span>
    <ul class="box-toolbar">
      <li><span class="label label-blue">{{messagesCount}}</span></li>
    </ul>
  </div>
  <table class="table table-normal">
  <colgroup>
    <col span="1" style="width: 5%;">
    <col span="1" style="width: 15%;">
    <col span="1" style="width: 30%;">
    <col span="1" style="width: 50%;">
  </colgroup>
    <thead>
      <tr>
        <td>Date</td>
        <td>Medecin</td>
        <td>Objet</td>
      </tr>
      </thead>
      <tbody>
        {% for message in messages %}
          <tr class="status-pending">
              <td><a href="{{ path('messages_view', { 'idMessage': message.idMessage }) }}">{{ message.dateEnvoi|date("d/m/Y") }}</a></td>
              <td>{{ message.medecins[0].nom }} {{ message.medecins[0].prenom }}
              <td><b>{{ message.sujet}}</b><br>{{ message.objet}}</td>
          </tr>
        {% endfor %}
      <tbody>
  </table>
</div>
