      <div class="portlet portlet-today portlet-blue">
        <h3>Aujourd'hui</h3>
        <p><i class="icon ion-clipboard pull-left" style="clear:both;"></i> Vous avez {{ messagesCount }} message(s) à traiter <a href="{{ path('messages_liste') }}">Messagerie</a></p>

        <p><i class="icon ion-thumbsup pull-left"  style="clear:both;"></i> 
        {% if infosRdv.last.memejour %}
            Votre dernier rendez-vous se termine à {{infosRdv.last.fin|date("H:i")}}</p>
        {% else %}
            Vous n'avez pas de rendez-vous aujourd'hui.
        {% endif %}

        <p><i class="icon ion-person-stalker pull-left" style="clear:both;"></i> 
        {% if infosRdv.next.memejour %}
            Votre prochain rendez-vous commence à {{infosRdv.next.debut|date("H:i")}}</p>
        {% else %}
            Vous n'avez plus de rendez-vous aujourd'hui. (Prochain le {{infosRdv.next.debut|date(" d/m/y à H:i")}})
        {% endif %}

        <i class="icon ion-star portlet-bg-icon pull-left"></i>
      </div>
