{% extends '::base.html.twig' %}

{% block titrePage %}<i class="icon-group"></i> Abonnés{% endblock %}

{% block title %}{{ action }}{% endblock %}

{% block stylesheets %}
  {{ parent() }}
{% endblock %}

{% block includesjs %}
  {{ parent() }}
{% endblock %}

{% block body %}

{% form_theme form with ['GestimeCoreBundle:Form:form_date_time_picker.html.twig', 'GestimeUserBundle:abonnes:templates/collectionPeriodes.html.twig'] %}


<div class="row">
  <div class="col-lg-12">
    <div class="box">
      <div class="box-header">
        <span class="title"><i class="icon-user"></i>{{ action }}</span>
      </div>
      <div class="box-content">
        <form action="#" method="post" {{ form_enctype(form) }} class="form-horizontal fill-up validatable">
          <div class="padded">
            {% include 'GestimeUserBundle:abonnes:templates/fieldsListe.html.twig'  %}
          </div>
          {% include 'GestimeUserBundle:abonnes:templates/formActions.html.twig'  %}
        </form>
        {{ form_errors(form) }}
      </div>
      {% if medecinExiste == true and action == 'Supprimer un abonné' %}
        <div class="alert alert-info" style="margin:10px;">
          <button type="button" class="close" data-dismiss="alert">×</button>
          Cet abonné est encore relié à des médecins. Le supprimer ne supprimera pas les médecins concernés.
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% include 'GestimeUserBundle:abonnes:templates/datatable.html.twig'  %}
{% include 'GestimeUserBundle:abonnes:templates/subFormPeriode.html.twig'  %}
{% endblock %}
