<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

        <title>{% block title %}Gestime V2 - Rapports{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% include 'GestimeRapportsBundle:css:cssPdf.html.twig' %}
    </head>
    <body>
        <div class="row">
            <div id="entete">
                {{entete.nom}}: {{entete.raisonSociale}}
                <br />
                Tél: {{entete.telephone}} Fax: {{entete.fax}}
                <br />
                Le {{ "now"|date("d/m/Y") }}
                <br />
                <b>{{docteur.nom}}</b>
            </div>
        </div>
        <div class="row">
            <div id="titre" style="text-align:center;">
                <span><h3>Liste des SMS du {{debut|date("d/m/Y")}} au {{fin|date("d/m/Y")}}</h3></span>
            </div>
        </div>

        <div class="row">
          <div class="table-responsive" style="overflow: hidden; width: 100%; height: auto;">
            <table id="liste">
                <colgroup>
                   <col span="1" style="width: 18%;">
                   <col span="1" style="width: 27%;">
                   <col span="1" style="width: 15%;">
                   <col span="1" style="width: 32%;">
                   <col span="1" style="width: 8%;">
                </colgroup>
                <tbody>
                    <tr>
                        <th>Date</td>
                        <th>Destinataire</td>
                        <th>Numéro</td>
                        <th>Texte</td>
                        <th>Etat</td>
                    </tr>

                    {% for lignes in liste %}
                        {% for ligne in lignes %}
                            {% if ligne.dateEnvoi is defined %}
                                <tr class="{{ cycle(['even','odd'],loop.index) }}">
                                    <td>{{ligne.dateEnvoi|date("d/m/Y H:i")}}</td>
                                    <td>{{lignes.nom}} {{lignes.prenom}}</td>
                                    <td>{{ligne.numeroEnvoi}}</td>
                                    <td>{{ligne.texte}}</td>
                                    <td>{% if ligne.statut == 'R'%}Ok{% else %} {% endif %}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
